<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="My Sql Connection String" connectionString="data source=(local);initial catalog=Test;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
	<appSettings>
		<add key="NextSequenceNumberServiceUrl" value="http://localhost:1337/"/>
		<add key="Password" value="TheHolyHandGrenade"/>
		<add key="GoDirectToTableStorage" value="true"/>
		<add key="AzureStorageAddress" value="connectionstring"/>
		<add key="AzureTableName" value="DbScriptomate"/>
		<add key="GenerateDbObjectsOnNewScript" value="false"/>
		<add key="GenerateDbObjectsThreadCount" value="5"/>
		<add key="GenerateDbObjectsIgnoreSchemas" value="bak,sys"/>
	</appSettings>
</configuration>
